
<div>

    <nav>
        <div class="logo">
            <i class="fa fa-book fa-5x" style="float:left; color: rgb(255, 255, 247);"></i>
        </div>
        <ul>
            <li><a href="#" class="active"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#!/signup"><i class="fa fa-pencil-square-o"></i> Sign Up</a></li>
            <li><a href="#!/signin"><i class="fa fa-sign-in"></i> Sign In</a></li>
            <li><a href="#"><i class="fa fa-users"></i> Services</a></li>
            <li><a href="#"><i class="fa fa-info-circle"></i> About</a></li>
        </ul>
        <a href="#!/home"><h1>Library Management</h1></a>
    </nav>
    <section class="sec1"></section>
    <section class="content">
        <h2>What is Library?</h2>
        <p>
            A library is a collection of sources of information and similar resources, made accessible to a defined community for reference or
            borrowing.[1] It provides physical or digital access to material, and may be a physical building or room, or a virtual space, or both.[2]
            A library's collection can include books, periodicals, newspapers, manuscripts, films, maps, prints, documents, microform, CDs, cassettes,
            videotapes, DVDs, Blu-ray Discs, e-books, audiobooks, databases, and other formats. Libraries range in size from a few shelves of books to
            several million items. In Latin and Greek, the idea of a bookcase is represented by Bibliotheca and Bibliothēkē (Greek: βιβλιοθήκη):
            derivatives of these mean library in many modern languages, e.g. French bibliothèque.The first libraries consisted of archives of the
            earliest form of writing—the clay tablets in cuneiform script discovered in Sumer, some dating back to 2600 BC. Private or personal
            libraries made up of written books appeared in classical Greece in the 5th century BC. In the 6th century, at the very close of the Classical
            period, the great libraries of the Mediterranean world remained those of Constantinople and Alexandria.
            <br>
            <br>
            A library is organized for use and maintained by a public body, an institution, a corporation, or a private individual. Public and
            institutional collections and services may be intended for use by people who choose not to—or cannot afford to—purchase an extensive
            collection themselves, who need material no individual can reasonably be expected to have, or who require professional assistance with
            their research. In addition to providing materials, libraries also provide the services of librarians who are experts at finding and
            organizing information and at interpreting information needs. Libraries often provide quiet areas for studying, and they also often offer
            common areas to facilitate group study and collaboration. Libraries often provide public facilities for access to their electronic
            resources and the Internet.
            <br>
            <br>
            Modern libraries are increasingly being redefined as places to get unrestricted access to information in many formats and from many
            sources. They are extending services beyond the physical walls of a building, by providing material accessible by electronic means,
            and by providing the assistance of librarians in navigating and analyzing very large amounts of information with a variety of digital
            resources. Libraries are increasingly becoming community hubs where programs are delivered and people engage in lifelong learning.
            As community centers, libraries are also becoming increasingly important in helping communities mobilize and organize for their rights.
            The relationship between librarianship and human rights works to ensure that the rights of cultural minorities, immigrants, the homeless,
            the disabled, LGBTQ community, as well as other marginalized groups are not infringed upon as protected in the Universal Declaration of
            Human Rights.
        </p>
    </section>
    <section class="sec2"></section>
    <section class="content">
        <h2>Famous Quotes</h2>
        <p>
            The library card is a passport to wonders and miracles, glimpses into other lives, religions, experiences, the hopes and dreams and
            strivings of ALL human beings, and it is this passport that opens our eyes and hearts to the world beyond our front doors, that is one of
            our best hopes against tyranny, xenophobia, hopelessness, despair, anarchy, and ignorance.
            <br>
            <strong>–Libba Bray</strong>
            <br>
            <br>
            Libraries store the energy that fuels the imagination. They open up windows to the world and inspire us to explore and achieve, and contribute
            to improving our quality of life.
            <br>
            <strong>–Sidney Sheldon</strong>
        </p>
    </section>
    <section class="sec3"></section>
    <section class="content">
        <h2>Famous Libraries</h2>
        <p>
            <strong>The British Library</strong>
            <br>
            The British Library is the national library of the United Kingdom and the largest national library in the world by number of items catalogued. It is estimated to contain 150–200 million+ items from many countries.
            <br>
            <br>
            <strong>The Beinecke Rare Book & Manuscript Library</strong>
            <br>
            The Beinecke Rare Book & Manuscript Library is the rare book library and literary archive of the Yale University Library in New Haven, Connecticut. Situated on Yale University's Hewitt Quadrangle, the building was designed by Gordon Bunshaft of Skidmore, Owings & Merrill and completed in 1963.
            <br>
        </p>
    </section>
</div>
