@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0px;
    padding: 0px
}

body {
    /*background: url("D:/libraryManagement/signup/sign_up.jpg");*/
    background-image: url('sign_up.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 40px;
    color: white;
    margin-top: 250px;
}

p {
    font-size: 18px;
    color: white;
}

h3 {
    font-size: 25px;
    color: white;
    margin-top: 80px;
}

.fa {
    color: white;
    margin-top: 80px;
    padding-left: 170px;
}

hr {
    margin-top: 1rem;
    border-top: 1px solid rgb(252, 247, 247);
}

.col-md-5 {
    margin-top: 80px;
    box-shadow: -1px 1px 60px 10px black;
    background: rgba(0, 0, 0, 0.4)
}

.label {
    font-weight: normal;
    margin-top: 15px;
    color: white;
    font-size: 19px;
}

.form-control {
    background: transparent;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid white;
    font-size: 18px;
    margin-top: 12px;
    height: 40px;
    color: white;
}

input[type = "radio"] {
    margin-top: 22px;
}

.btn-info {
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 20px;
    font-size: 18px;
    width: 120px;
}

.btn-danger {
    margin-top: 20px;
    margin-left: 82px;
    margin-bottom: 20px;
    width: 120px;
    font-size: 18px;
}

.fa-male {
    padding-left: 4px;
    margin-top: 8px;
}

.fa-female {
    padding-left: 0px;
    margin-top: 8px;
}